#topp{
    width: 100%;
    min-height: 100px;
}
.hangk{
    width: 100%;
    min-height: 20px;
    opacity: 0.7;
    font-family: 黑体;
    font-weight: bold;
    font-size: 20px;
}
.hangyou{
    width: 30%;
    min-height: 20px;
    float: left;
}
.backg09{
    background-image: url(../images/9.jpg);
    background-repeat: no-repeat;
    width: 65%;
    min-height: 100px;
    float: left;
}
.hangbiaoti{
    width: 100%;
    min-height: 20px;
}
.juedui{
    position: fixed;
    right: 5px;
    bottom: 5px;
}
.anniu{
    width: 15px;
    height: 15px;
    background-color: brown;
}